
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<head>

    <title>Arabalar.com.tr - Sıfır Araba Modelleri</title>
    <meta name="description" content="Arabalar.com.tr ile sıfır araba modelleri ve fiyatları, araba kampanyaları, araba karşılaştırma ve güncel araba haberlerine ulaşabilirsiniz" />
    <meta name="robots" content="index, follow" />


    <meta http-equiv="content-language" content="tr" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="~/Res/style-2018-1.css" />
    <link rel="stylesheet" type="text/css" href="~/Res/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Res/font-awesome.min.css" />
    <link rel="shortcut icon" href="~/Res/favicon.ico" />
    <link href="https://plus.google.com/102408872933047572676" rel="publisher" />
    <link rel="canonical" href="http://www.arabalar.com.tr" />
    <meta property="og:title" content="Arabalar.com.tr - Sıfır Araba Modelleri" />
    <meta property="og:description" content="Arabalar.com.tr ile tüm araba modelleri ile ilgili bilgiye ve 2. el araba ilanlarına kolayca ulaşabilirsiniz" />
    <meta property="og:image" content="http://www.arabalar.com.tr/static-res/resources/images/logo.png" />
    <meta property="og:url" content="http://www.arabalar.com.tr" />
    <meta property="og:site_name" content="Arabalar.com.tr" />

</head>

<body>

    <div id="site-center"></div>
    <!--- site-center end-->

    <header class="wrapper">
        <div id="header">
            <div class="indent">

                <div class="logo"><a title="ARABALAR" href="/"><img alt="ARABALAR" src="~/Res/logo-2018-5.png" width="160" height="90" /></a></div>

            </div>
        </div>
    </header>

    @RenderBody()

    <div class="clear"></div>


    <div class="clear"></div>

    <footer id="footer">
        <div class="wrapper indent">
            <div class="col-xs-2">
                <p><a title="Yeni Araba Fiyatları" href="/araba-fiyatlari">Sıfır Araba Fiyatları</a></p>
                <p><a title="Araç Kıyasla" href="/araba-karsilastirma">Araba Karşılaştırma</a></p>
                <p><a title="Sıfır Araba Kampanyaları" href="/araba-kampanyalari">Araba Kampanyaları</a></p>
                <p><a title="Otomobil Haberleri" href="/haberler">Araba Haberleri</a></p>
            </div>
            <div class="col-xs-2">
                <p><a title="Audi Fiyat Listesi" href="/audi">Audi</a></p>
                <p><a title="BMW Fiyat Listesi" href="/bmw">BMW</a></p>
                <p><a title="Citroen Fiyat Listesi" href="/citroen">Citroen</a></p>
                <p><a title="Dacia Fiyat Listesi" href="/dacia">Dacia</a></p>
            </div>
            <div class="col-xs-2">

                <p><a title="Fiat Fiyat Listesi" href="/fiat">Fiat</a></p>
                <p><a title="Ford Fiyat Listesi" href="/ford">Ford</a></p>
                <p><a title="Honda Fiyat Listesi" href="/honda">Honda</a></p>
                <p><a title="Hyundai Fiyat Listesi" href="/hyundai">Hyundai</a></p>
            </div>
            <div class="col-xs-2">
                <p><a title="Jeep Fiyat Listesi" href="/jeep">Jeep</a></p>
                <p><a title="Kia Fiyat Listesi" href="/kia">Kia</a></p>

                <p><a title="Mazda Fiyat Listesi" href="/mazda">Mazda</a></p>
                <p><a title="Mercedes Fiyat Listesi" href="/mercedes">Mercedes</a></p>
            </div>
            <div class="col-xs-2">

                <p><a title="Nissan Fiyat Listesi" href="/nissan">Nissan</a></p>
                <p><a title="Opel Fiyat Listesi" href="/opel">Opel</a></p>
                <p><a title="Peugeot Fiyat Listesi" href="/peugeot">Peugeot</a></p>
                <p><a title="Renault Fiyat Listesi" href="/renault">Renault</a></p>

            </div>
            <div class="col-xs-2">
                <p><a title="Seat Fiyat Listesi" href="/seat">Seat</a></p>
                <p><a title="Skoda Fiyat Listesi" href="/skoda">Skoda</a></p>

                <p><a title="Toyota Fiyat Listesi" href="/toyota">Toyota</a></p>
                <p><a title="Volkswagen Fiyat Listesi" href="/volkswagen">Volkswagen</a></p>
            </div>
            <div class="clear"></div>
            <div class="footerinfo">
                <div class="copy"><a href="/iletisim">Bize Ulaşın</a> | <a href="https://www.facebook.com/www.arabalar.com.tr" target="_blank">Facebook</a></div>
                <div class="tel">Arabalar.com.tr Otomotiv ve İnternet Hizmetleri Tic. Ltd. Şti. | Tüm Hakları Saklıdır. © 2018 ™</div>
            </div>
        </div>

    </footer>
    <script type="text/javascript" src="~/Res/ui-bootstrap-tpls-0.12.1.min.js"></script>
    <script type="text/javascript" src="~/Res/jquery.js"></script>
    <script type="text/javascript" src="~/Res/bootstrap.min.js"></script>
    <script src="~/Res/angular.min.js"></script>
    <script src="~/Res/angular-cookies.js"></script>
    <script src="~/Res/angular-touch.min.js"></script>
    <script src="~/Res/angular.ng-modules.js"></script>
    <script type="text/javascript" src="~/Res/jquery.maskx.js"></script>
    <script type="text/javascript" src="~/Res/searchIndex3.js"></script>
</body>
</html>